In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel("C:/Users/HP/Desktop/titanic3.xls")

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
data = data[['pclass', 'survived', 'sex', 'age']]

In [6]:
data.head()

   pclass  survived     sex      age
0       1         1  female  29.0000
1       1         1    male   0.9167
2       1         0  female   2.0000
3       1         0    male  30.0000
4       1         0  female  25.0000

In [9]:
data.dropna(axis = 0, inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_25388\2718241835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(axis = 0, inplace = True)

In [10]:
data.shape

(1046, 4)

In [13]:
data['sex'].replace(['male', 'female'], [0, 1], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_25388\3322869761.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['sex'].replace(['male', 'female'], [0, 1], inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_25388\3322869761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex'].replace(['male', 'female'], [0, 1], inplace=True)

In [14]:
data.head()

   pclass  survived  sex      age
0       1         1    1  29.0000
1       1         1    0   0.9167
2       1         0    1   2.0000
3       1         0    0  30.0000
4       1         0    1  25.0000

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
model = KNeighborsClassifier()

In [25]:
Y = data['survived']

In [27]:
X= data.drop('survived', axis = 1)

In [29]:
model.fit(X,Y)
model.score(X, Y)

0.8317399617590823

In [30]:
model.predict(X)

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [33]:
#prediction de la survie d'une personne lambda au bord du titanic

def survie(model, pclass=3, sex=0, age=24):
    x= np.array([pclass, sex, age]).reshape(1, 3)
    print(model.predict(x))
    print(model.predict_proba(x))

In [34]:
survie(model)

[0]
[[1. 0.]]

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(